/* header and nav layout */
header {
  height: var(--nav-height);
}

header .header-banner {
  background-color:  var(--color-teal);
  height: 148px;
  padding: 20px 20px 16px;
  box-sizing: border-box;
  font-family: var(--condensed-font-family);
  color: white;
  display: grid;
}

header .header-banner img {
  height: 60px;
  width: auto;
  margin-right: 10px;
  position: relative;
}

header .header-banner-section {
  display: flex;
  font-size: var(--body-font-size-s);
  margin: auto;
  line-height: 20px;
}

header .header-banner p {
  margin: 0;
}

header .header-banner-cta {
  margin: auto;
}

header .header-banner-cta .button {
  margin-top: 10px;
  font-size: var(--body-font-size-s);
  color: var(--color-teal);
  background-color: white;
  font-family: var(--heading-font-family);
  padding: 8px 39px;
  line-height: normal;
}

@media (min-width: 1024px) {
  header .header-banner-cta .button {
    margin-top: 0;
  }
  
  header .header-banner {
    display: flex;
    padding: 15px;
    height: 68px;
  }

  header .header-banner img {
    height: 80px;
    z-index: 3;
    margin-top: -10px;
  }
}

header nav {
  box-sizing: border-box;
  display: grid; 
  grid-template: 
    'links links' 84px
    'brand hamburger' 100px
    'nav nav' 0
    'vaccine-finder vaccine-finder' 0
    'hamburger-links hamburger-links' 0 / 1fr 70px;
  gap: 0; 
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1243px;
  margin: 0 auto;
  background-color: var(--background-color);
}

header nav::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 100%;
  height: 35px;
  background-image: url('../../images/edge.png');
  background-size: 100% 100%;
  z-index: 1;
}

header nav[aria-expanded=true] {
  grid-template-rows: 84px 100px auto auto auto; 
  position: fixed;
  max-height: 100vh;
  z-index: 1;
}

header nav > * {
  z-index: 2;
}

header .nav-hamburger-links ul li strong, header .nav-links ul li strong {
  font-family: unset;
}

@media (min-width: 1024px) {
  header nav {
    grid-template: 
      'links links links' 96px
      'brand nav vaccine-finder' 100px
      'hamburger hamburger-links hamburger-links' 0 / 1fr auto 215px;
    gap: 0 30px;
  }

  header nav::after {
    width: 98vw;
    border-radius: 35px;
  }
}

header nav ul {
  list-style: none;
  padding: 0;
}
/* stylelint-disable-next-line no-descending-specificity */
header nav p {
  margin: 0;
}

header nav a.primary {
  color: var(--color-purple);
}

header nav a.secondary {
  color: var(--color-blue);
}

header nav a:hover {
  text-decoration: none;
}

/* brand */
header .nav-brand {
  grid-area: brand;
  padding-left: 16px;
}

header nav .nav-brand p {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 6px;
}

header nav .nav-brand svg {
  height: auto;
}

header nav .nav-brand .icon-pfizer {
  height: 34px;
  width: 84px;
}

header nav .nav-brand .icon-biontech {
  height: 28px;
  width: 129px;
}


@media (min-width: 1024px) {
  header .nav-brand {
    padding-left: 30px;
  }
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  max-width: unset;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 2px 15px 0;
  background-color: transparent;
  color: var(--color-purple);
  cursor: pointer;
  font-family: var(--heading-font-family);
}

header nav .nav-hamburger p {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 30px;
  height: 3px;
  margin: auto;
  border-radius: 6px;
  background-color: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -8px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 8px;
}

header nav[aria-expanded=true] .nav-hamburger-icon {
  box-sizing: border-box;
  display: block;
  position: relative;
  border: 2px solid transparent;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after,
header nav[aria-expanded=true] .nav-hamburger-icon::before {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 24px;
  height: 2.5px;
  border-radius: 5px;
  background-color: currentcolor;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
  transform: translateX(-50%) rotate(-45deg)
}

@media (min-width: 1024px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* nav */
header nav .nav-navigation {
  grid-area: nav;
  display: none;
  visibility: hidden;
  font-family: var(--condensed-font-family);
  font-size: var(--body-font-size-s);
  line-height: 22px;
}

header nav[aria-expanded=true] .nav-navigation {
  display: unset;
  visibility: visible;
}

header nav .nav-navigation a {
  padding-bottom: 10px;
  height: 66px;
}

header nav .nav-navigation ul {
  margin: 0;
}

header nav .nav-navigation li {
  padding: 16px 25px;
}

header nav .nav-navigation li:first-of-type {
  background-color: var(--color-purple);
}

header nav .nav-navigation li:first-of-type a {
  color: var(--background-color);
}
/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-navigation strong {
  font-family: var(--heading-font-family);
}

@media (min-width: 1024px) {
  header nav .nav-navigation {
    display: unset;
    visibility: visible;
  }

  header nav .nav-navigation ul {
    display: flex;
    gap: clamp(10px, 50%, 30px);
  }
  
  header nav .nav-navigation li {
    flex: 0 1 25%;
    display: flex;
    max-width: 165px;
    padding: 0;
  }

  header nav .nav-navigation li:first-of-type {
    background-color: unset;
  }

  header nav .nav-navigation li:first-of-type a {
    color: var(--color-purple);
  }

  header nav .nav-navigation .active {
    position: relative;
  }
  
  header nav .nav-navigation .active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 133px;
    border-top: 7px solid;
  }
}

/* vaccine finder */
header nav .nav-vaccine-finder {
  grid-area: vaccine-finder;
  display: none;
  visibility: hidden;
  padding: 16px 25px;
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-s);
  line-height: 20px;
}

header nav[aria-expanded=true] .nav-vaccine-finder {
  display: unset;
  visibility: visible;
}

header nav .nav-vaccine-finder .button {
  width: 100%;
  margin: 0;
  padding: 16px 15px;
  background-color: var(--color-red);
}

@media (min-width: 1024px) {
  header nav .nav-vaccine-finder {
    display: unset;
    visibility: visible;
    padding: 0;
    padding-right: 30px;
  }

  header nav .nav-vaccine-finder .button {
    width: 185px;
  }
}

/* links */
header nav .nav-links {
  grid-area: links;
  align-self: stretch;
  display: flex;
  align-items: center;
  height: 84px;
  background-color: var(--overlay-background-color);
  font-family: var(--condensed-font-family);
  font-size: var(--body-font-size-xxs);
  line-height: 18px;
}

header nav .nav-links ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  padding: 2px 10px;
}
/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-links li {
  flex: 0 1 auto;
  margin: 6px 0;
}
/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-links a:any-link {
  border-bottom: 1px solid;
}

header nav .nav-links .fullscreen {
  visibility: hidden;
  display: none;
}

@media (min-width: 1024px) {
  header nav .nav-links {
    background-color: unset;
  }

  header nav .nav-links ul {
    gap: 40px;
    margin: 24px auto;
    padding: 0 15px;
  }

  header nav .nav-links .fullscreen {
    visibility: visible;
    display: unset;
  }

  header nav .nav-links .split {
    order: 1;
  }
  
  header nav .nav-links .secondary-container {
    order: 2;
  }
}

/* hamburger links */
header nav .nav-hamburger-links {
  grid-area: hamburger-links;
  display: none;
  visibility: hidden;
  padding: 16px 25px;
  font-size: var(--body-font-size-s);
  line-height: 33px;
}

header nav[aria-expanded=true] .nav-hamburger-links {
  display: unset;
  visibility: visible;
}
/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-hamburger-links li {
  padding: 16px 0;
  font-family: var(--condensed-font-family);
  line-height: 22px;
}

header nav .nav-hamburger-links ul > :first-child {
  padding-top: 0;
}

header nav .nav-hamburger-links ul > :last-child {
  padding-bottom: 0;
}
