/* block specific CSS goes here */
main .hero-container {
  padding: 0;
}

main .hero-wrapper {
  max-width: unset;
}

main .hero {
  position: relative;
  background-color: var(--color-purple);
  color: var(--background-color);
}

main .hero p {
  margin: 10px 0;
}

main .hero p.asterisk {
  position: relative;
  margin-top: 20px;
}

main .hero p.asterisk::before {
  content: '*';
  position: absolute;
  left: -.66em;
  font-size: 80%;
}

main .hero h1 {
  margin: 10px 0 20px;
  line-height: 38px;
}

main .hero .hero-image img {
  aspect-ratio: 195 / 134;
  width: auto;
  object-fit: cover;
  object-position: right;
}

main .hero .hero-text {
  padding: 0 25px 10px;
}

main .hero .hero-text .picture-wrapper {
  position: relative;
  margin: 9px 0 22px;
}

main .hero .hero-text .picture-wrapper img {
  height: 40px;
  width: auto;
}

main .hero .hero-text .picture-wrapper + p {
  position: relative;
  padding-top: 22px;
}

main .hero .hero-text .picture-wrapper + p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  border-top: 7px solid;
}

@media (min-width: 1024px) {
  main .hero {
    background-color: unset;
    overflow: hidden;
  }
  
  main .hero h1 {
    margin: 18px 0 0;
    line-height: 50px;
  }

  main .hero p {
    margin-top: 0;
  }

  main .hero p.asterisk {
    position: relative;
    margin-top: 0;
  }
  
  main .hero p.asterisk::before {
    position: relative;
    left: 0;
  }

  main .hero .hero-img picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
  }

  main .hero .hero-image img {
    width: 100%;
    height: 34vw;
    object-fit: cover;
    object-position: center;
  }

  main .hero .hero-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 30px);
    max-width: 1006px;
    padding: 52px 16px 0;
  }

  main .hero .hero-text > div {
    max-width: 580px;
  }

  main .hero .hero-text .picture-wrapper {
    position: absolute;
    right: 36px;
    margin-top: 5px;
  }

  main .hero .hero-text .picture-wrapper img {
    max-height: 49px;
  }

  main .hero .hero-text .picture-wrapper + p {
    padding-top: 0;
  }

  main .hero .hero-text .picture-wrapper + p::before {
    top: 9px;
    left: -95px;
    border-color: var(--color-purple);
  }

  main .hero .hero-text strong {
    font-size: var(--body-font-size-xl);
  }
}
