/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}

main .hero {
    position: relative;
    padding: 32px;
    min-height: 400px;
}

main .hero.block > div > div h1, h2, h3 {
    color: #FFFFFF;
}

@media (min-width: 900px) {
    main .hero.block {
        min-height: 500px;
      }  
}

main .hero.block > div > div{
    display: flex;
    flex-flow: column wrap;
    text-align: inherit;
}

main .hero.block > div > div > h2 {
    max-width: 1200px;
    color: white;
    padding: 0 0 0 0;
    margin: 0px;
}

main .hero.block > div > div > h3 {
    font-family: var(--heading2-font-family);
    color: #FFFFFF;
    padding: 0 0 0 0;
    margin: 0px;
}

main .hero.block > div > div > h4 {
    font-family: var(--heading2-font-family);
    color: #FFFFFF;
    padding: 0 0 0 0;
    margin: 0px;
}


main .hero.block > div > div > h6 {
    font-family: var(--body-font-family);
    color: #FFFFFF;
    padding: 0 0 0 0;
    margin: 0px;
}

main .hero.block picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero.block img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}