main .cap-bottle {
  position: relative;
  min-height: 107px;
  background-image: url('../../images/cap-bottle.png');
  background-repeat: no-repeat;
  background-size: auto 107px;
  font-family: var(--bold-font-family);
  font-size: var(--body-font-size-xs);
  line-height: 20px;
}

main .cap-bottle::after {
  content: '';
  position: absolute;
  top: 41px;
  width: 100%;
  height: 1px;
  background-color: #76777A;
}

main .cap-bottle > div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 107px;
  padding: 41px 0 0 66px;
}

main .cap-bottle p {
  margin: 0;
}

@media (min-width: 1024px) {
  main .cap-bottle {
    min-height: 70px;
    background-size: auto 70px;
  }

  main .cap-bottle::after {
    top: 27px;
    height: 1px;
  }

  main .cap-bottle > div {
    min-height: 70px;
    padding: 27px 0 0 80px;
  }
}
