/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --color-red: #D14232;
  --color-teal: #217886;
  --color-blue: #657794;
  --color-purple: #503C90;
  --link-color: var(--color-teal);
  --link-hover-color: var(--color-teal);
  --text-color: #333;
  --background-color: #fff;
  --overlay-background-color: #E6E8EE;
  --highlight-text-color: var(--text-color);
  --highlight-background-color: #EFF1F4;

  /* fonts */
  --body-font-family: 'Open Sans', 'Remote Open Sans', 'open-sans-fallback', sans-serif;
  --bold-font-family: 'Open Sans Bold', 'Remote Open Sans Bold', 'open-sans-bold-fallback', sans-serif;
  --extrabold-font-family: 'Open Sans Extra Bold', 'Remote Open Sans Extra Bold', 'open-sans-extra-bold-fallback', sans-serif;
  --condensed-font-family: 'Open Sans Condensed Bold', 'Remote Open Sans Condensed Bold', 'open-sans-condensed-bold-fallback', sans-serif;
  --heading-font-family: 'Impact', 'Remote Impact', 'impact-fallback', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-xl: 32px;
  --body-font-size-l: 24px;
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 17px;
  --body-font-size-xxs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 42px;
  --heading-font-size-xl: 45px;
  --heading-font-size-l: 42px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 328px;
}

@media (min-width: 363px) {
  :root {
    --body-font-size-xxs: 16px;
  }
}

@media (min-width: 1024px) {
  :root {
    --heading-font-size-xxl: 50px;
    --nav-height: 264px;
  }
}

/* fallback font for Impact */
@font-face {
  font-family: impact-fallback;
  size-adjust: 77.00%;
  src: local('Arial');
}

/* fallback font for Open Sans */
@font-face {
  font-family: open-sans-fallback;
  size-adjust: 104.77%;
  src: local('Arial');
}

/* fallback font for Open Sans Condensed Bold */
@font-face {
  font-family: open-sans-condensed-bold-fallback;
  size-adjust: 86.049%;
  src: local('Arial');
}

/* fallback font for Open Sans Extrabold */
@font-face {
  font-family: open-sans-extra-bold-fallback;
  size-adjust: 115.611%;
  src: local('Arial');
}

/* fallback font for Open Sans Bold */
@font-face {
  font-family: open-sans-bold-fallback;
  size-adjust: 100%;
  src: local('Arial');
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 28px;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h4, h5, h6 {
  font-family: var(--body-font-family);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: 42px;
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p strong, li strong {
  font-family: var(--bold-font-family);
  font-weight: 700;
}

a:any-link {
  color: var(--link-color);
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

sup {
  position: relative;
  top: -0.5em;
  vertical-align: top;
  font-size: 50%;
}

.footnote {
  margin: 10px 0;
  font-size: var(--body-font-size-xs);
  line-height: 20px;
}

svg {
  height: 1em;
  width: auto;
}

hr {
  height: 3px;
  margin: 1.5em 0;
  border: 0;
  border-radius: 6px;
  background-image: url('../images/divider.png');
  background-size: 100% 100%;
}

/* buttons */
a.button:any-link, button.button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border: 0;
  padding: 1em;
  background-color: var(--link-color);
  color: var(--background-color);
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

a.button:hover, a.button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

main .section {
  padding: 30px 25px 20px;
}

@media (min-width: 600px) {
  main .section {
    padding: 30px 20px;
  }  
}

@media (min-width: 992px) {
  .section > div {
    max-width: 1012px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  position: relative;
  padding-top: 46px;
  background-color: var(--highlight-background-color);
}

main .section.highlight h2 {
  margin-top: 0;
  font-size: var(--heading-font-size-l);
}

main .section.highlight::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 20px;
  width: 80px;
  border-top: 7px solid var(--color-purple);
}

@media (min-width: 992px) {
  main .section.highlight {
    gap: 20px;
    padding-top: 12px;
    padding-left: 120px;
  }

  main .section.highlight h2 {
    margin-top: 20px;
  }

  main .section.highlight::after {
    top: 14px;
  }
}

main .section.texture {
  padding-top: 44px;
  background-image: url('../images/texture.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--background-color);
}

main .section.texture h2 {
  width: 14ch;
  margin: 0;
  font-size: var(--heading-font-size-l);
  line-height: 48px;
}

main .section.texture p {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: var(--bold-font-family);
}

main .section.texture .button {
  width: 100%;
  margin: 55px 0 25px;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--condensed-font-family);
  font-size: var(--body-font-size-s);
  line-height: 21px;
}

main .section.texture .button:hover {
  text-decoration: underline;
}


@media (min-width: 1024px) {
  main .section.texture {
    padding: 70px 20px 60px;
  }

  main .section.texture > div {
    display: grid;
    grid-template-columns: 567px 1fr;
    gap: 0 40px;
    align-items: center;
  }

  main .section.texture > div * {
    grid-column-start: 1;
  }

  main .section.texture h2 {
    width: unset;
  }

  main .section.texture .button-container {
    grid-column-start: 2;
    grid-row: 1 / span 2;
  }

  main .section.texture .button {
    margin: 0;
  }
}

main .section.bordered-heading h2,
main .section.bordered-heading h3 {
  color: var(--color-blue);
}

main .section.bordered-heading h2 {
  padding: 30px 0 40px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-image: url('../../images/divider.png') 3;
  font-size: 30px;
  line-height: 27px;
  text-align: center;
}

main .section.bordered-heading h2 ~ p {
  font-size: var(--body-font-size-s);
  line-height: 21.6px;
}

main .section.bordered-heading h3 {
  font-size: 30px;
  line-height: 33px;
}
/* stylelint-disable-next-line no-descending-specificity */
main .section.bordered-heading p,
main .section.bordered-heading h3,
main .section.bordered-heading ul,
main .section.bordered-heading .block {
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  main .section.bordered-heading h2 {
    font-size: 42px;
    line-height: 37.8px;
  }

  main .section.bordered-heading h2 ~ p {
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
  }

  main .section.bordered-heading h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

/* important safety info */
main .section[data-id=important-safety-info-content]::after {
  display: none;
}

main .section[data-id=important-safety-info-content] h2,
main .section[data-id=important-safety-info-content] h3 {
  color: var(--text-color);
  text-align: center;
}

main .section[data-id=important-safety-info-content] h2 {
  font-size: 42px;
  line-height: 38px;
}

main .section[data-id=important-safety-info-content] h2 ~ p {
  font-size: var(--body-font-size-m);
  line-height: 28px;
}

@media (min-width: 1024px) {
  main .section[data-id=important-safety-info-content] {
    padding-left: 20px;
  }

  main .section.bordered-heading h2 {
    max-width: 794px;
    margin-left: auto;
    margin-right: auto;
  }

  main .section[data-id=important-safety-info-content] h2 ~ p {
    text-align: left;
  }
}
